[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
Flask-Testing = "*"
coverage = "*"
mypy = "*"
pyannotate = "*"
ipdb = "*"

[packages]
{%- if cookiecutter.flask-restplus == 'y' %}
flask-restplus = "*"
{%- endif %}
{%- if cookiecutter.gunicorn == 'y' %}
gunicorn = "*"
{%- endif %}
{%- if cookiecutter.newrelic == 'y' %}
newrelic = "*"
{%- endif %}
{%- if cookiecutter.slackclient == 'y' %}
slackclient = '*'
{%- endif %}

[requires]
python_version = "3.7.2"
